body {
    font-size: 16px;
    background: #f9f9f9;
    background-image:url('bgimage.png');
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

table {
    width: 1200px;
    background: #fff;
    padding: 15px 40px 40px;
    border: 1px solid #ccc;
    margin: 50px auto 0;
    border-radius: 5px;
}

h2 {
    font-size: 50px;
    text-align: center;
    font-family: serif;
    font-style: italic;
}